.navbar {
  min-height: calc(100vh - 150px);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1.5rem;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  border-bottom: 2px solid var(--border-color);

}

.links {
  padding: 1.5rem !important;
  flex: 1;

}

.footer {
  padding: 1.5rem !important;
  border-top: 2px solid var(--border-color);
}
