.card {
  border-color: var(--border-color) !important;
  overflow: hidden;
  transition: transform 300ms ease-in-out;
  border-width: 2px;
  border-style: solid;
}

.card:hover {
  transform: scale(1.05);
}
