@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --accent: #66a80f;
}

[data-mantine-color-scheme="light"] {
  --primary: #ffffff;
  --secondary: #ededed;
}

[data-mantine-color-scheme="dark"] {
  --primary: #1a1a1a;
  --secondary: #2c2c2c;
}

body {
  background-color: var(--secondary) !important;
}

.modal {
  background-color: var(--primary) !important;
}

.input {
  background-color: var(--secondary) !important;
  border: none !important;
}

.notification {
  border: none !important;
  background: var(--primary) !important;
}

.input:focus-within {
  border: 1px solid var(--accent) !important;
}

.button {
  border: none !important;
  transition: all 0.3s ease;
  &:hover {
    filter: brightness(90%);
  }
}

.mantine-Select-dropdown {
  background-color: var(--primary) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

::selection {
  background: var(--accent);
  color: #FFF;
}

/* :focus {
  outline: 2px solid var(--accent) !important;
  border: 1px solid var(--accent) !important;
  outline-offset: 2px;
} */